extends ../../layout
block contenido
	.div-escuelas
		include ../ext/nav-bar-home.jade
		.spacer
		.spacer
		.container
			.row.section
				h3.title-style.white-text.stroke Grupos
				p.index-text.white-text.stroke 
	.spacer
	.divider
	.spacer
	.container
		.row.section
			if grupos.length == 0 
				//include ../Ext/mensaje-no-hay-elementos.jade
					a.waves-effet.waves-light.btn.cyan.sbt(href="/admin/areas/nuevo") Nuevo
			else	
				include ../ext/paginate.jade
				- var n = 0;
				- var j = 0;
				- var t = 0;
				- var arrayGrupos = new Array();
				each grupo in grupos
					- arrayGrupos[n] = grupo
					-n++;
				-var aLength = arrayGrupos.length
				-for (var i = 0; i < aLength; i++) {
					.row
						.col.l6.m6.s12
							.card.ligth-green
								.card-content
									a.card-title.mini-header(href="/grupos/ver/#{arrayGrupos[i].id}") #{arrayGrupos[i].nombre} 
									.row.km
										.col.s6
											br
											span.grey-text Profesor
											br
											span #{arrayGrupos[i].profesor.nombres} #{arrayGrupos[i].profesor.apellidos} 
										.col.s6
											br
											span.grey-text Estudiantes
											br
											span #{arrayGrupos[i].estudiantes.length}
								.card-action.center-align
									a.btn.cyan.sbt(href="/grupos/ver/#{arrayGrupos[i].id}") ver grupo
									if user
										- var validador=false
										- for (var a = 0; a < arrayGrupos[i].estudiantes.length; a++) {
												if arrayGrupos[i].estudiantes[a]==usuario_id
													- validador = true
													a.btn.disabled registrado	 
										-}
										if validador==false
											a.btn.cyan.sbt(href="/grupos/reg/#{arrayGrupos[i].id}") registrarse
									else
											a.btn.cyan.sbt(href="/grupos/reg/#{arrayGrupos[j].id}") registrarse

									
						-j=i+1;
						-if (j < aLength ) {
							.col.l6.m6.s12
								.card.ligth-green
									.card-content
										a.card-title.mini-header(href="/grupos/ver/#{arrayGrupos[j].id}" ) #{arrayGrupos[j].nombre} 
										.row.km
											.col.s6
												br
												span.grey-text Profesor
												br
												span #{arrayGrupos[j].profesor.nombres} #{arrayGrupos[j].profesor.apellidos} 
											.col.s6
												br
												span.grey-text Estudiantes
												br
												span #{arrayGrupos[j].estudiantes.length}
									.card-action.center-align
										a.btn.cyan.sbt(href="/grupos/ver/#{arrayGrupos[j].id}") ver grupo
										if user
											- var validador=false
											- for (var b = 0; b < arrayGrupos[j].estudiantes.length; b++) {
													if arrayGrupos[j].estudiantes[b]==usuario_id
														- validador = true
														a.btn.disabled registrado	 
											-}
											if validador==false
												a.btn.cyan.sbt(href="/grupos/reg/#{arrayGrupos[j].id}") registrarse
										else
											a.btn.cyan.sbt(href="/grupos/reg/#{arrayGrupos[j].id}") registrarse
						-}
						-i=i+1
				- }
					
				include ../ext/paginate.jade
				include ../ext/tarjetas-mensajes.jade