extends ../../layout
block contenido
	header
		include ../Ext/menu-lateral-admin.jade
	main
		include ../Ext/page-title.jade
		.container
			include ../Ext/tarjetas-mensajes.jade
			a.waves-effet.waves-light.btn.cyan.sbt(
				href="/admin/grupos/nuevo") Nuevo
			if grupos.length == 0 
				include ../Ext/mensaje-no-hay-elementos.jade
					a.waves-effet.waves-light.btn.cyan.sbt(
				href="/admin/grupos/nuevo") Nuevo
			else	
				include ../Ext/paginate.jade
				ul.collection.hoverable
					each grupo in grupos
						.elemento
							.info
								li
									if grupo.estado == "NUEVO"
										span.new.badge.cyan.gbrd(
										data-badge-caption="Nuevo")
									a.collection-item #{grupo.nombre}
								.mas-info.grey.lighten-4
									.divider
									table.responsive-table.centered
										thead
											tr
												th Profesor
												th Area

												th Numero de estudiantes
												th limite de estudiantes
										tbody
											tr
												td #{grupo.profesor.nombres} #{grupo.profesor.apellidos}
												td #{grupo.area.nombre}
												td algun numero 
												if grupo.limiteEstudiantes == 0
													td sin limite
												else 
													td #{grupo.limiteEstudiantes}
									table.responsive-table.centered
										thead
											tr
												th Fecha de inicio
												th Fecha de finalizacion
												th Horario
										tbody
												td #{grupo.fechaInicioPretty}
												td #{grupo.fechaFinPretty}
												td #{grupo.horario}
									.divider
									.center-align.white
										a.btn.sbt.cyan(href="/admin/grupos/#{grupo.id}") ver detalles
										a.btn.sbt.cyan(
										href="/admin/grupos/editar/#{grupo.id}") modificar
											i.material-icons.right edit
										form.btn-borrar(
										style="display: inline-block;"
										action="/admin/grupos/editar/#{grupo.id}?_method=DELETE"
										method="POST")
											button.btn.sbt.red.prevenirBorarr(type="submit") borrar
												i.material-icons.right delete
						.divider
				
					


block footer