extends ../layout
block contenido
	include ../Home/Ext/nav-bar-home.jade

	.container
		.row.km
			.col.l12
				.card-panel
					.row
						.col.l3.s12
							.center-align
								img.circle.circle-border(src="#{user.avatar}" style="margin-top: 2rem;" )
						.col.l9.s12
							.row
								h3.title-style #{user.nombres} #{user.apellidos}
								.col.l6.s12
									span.grey-text Nombre usuarios 
									p.descripcion.km #{user.nombreUsuario}
									br
									span.grey-text Numero de documento 
									p.descripcion.km #{user.tipoDocumento}: #{user.numeroDocumento}
								.col.l6.s12
									span.grey-text Correo Electronico 
									p.descripcion.km #{user.email}
									br
									span.grey-text Tipo de usuario
									p.descripcion.km #{user.tipo}
				ul.tabs
					li.tab.col.s3
						a(href="#misCursos") Mis Cursos
					li.tab.col.s3
						a(href="#Configuracion") Configurar mi perfil
						

				div#misCursos
					.spacer
					- var n = 0;
					- var j = 0;
					- var t = 0;
					- var arrayGrupos = new Array();
					if misGrupos.length == 0
						.card-panel 
							.center
								h2.title-style Aun no están en ningún grupo
								p Recuerda que puede unirte a un grupo en calquier momento
								.row.km
									a.btn.waves-effect.waves-light.cyan.sbt(href="/escuelas") ver escuelas
									a.btn.waves-effect.waves-light.cyan.sbt(href="/areas") ver areas
									a.btn.waves-effect.waves-light.cyan.sbt(href="/grupos") ver grupos

					each grupo in misGrupos
						- arrayGrupos[n] = grupo
						-n++;
					-var aLength = arrayGrupos.length
					-for (var i = 0; i < aLength; i++) {
						.row
							.col.s6
								.card.ligth-green
									.card-content
										a.card-title.mini-header(href="/" ) #{arrayGrupos[i].nombre} 
										.row.km
											.col.s6
												br
												span.grey-text Profesor
												br
												span #{arrayGrupos[i].profesor.nombres} #{arrayGrupos[i].profesor.apellidos} 
											.col.s6
												br
												span.grey-text Estudiantes
												br
												span #{arrayGrupos[i].estudiantes.length}
									.card-action.center-align
										form(method="POST" action="/grupos/del/#{arrayGrupos[i].id}/#{user.id}?_method=DELETE")
											button.btn.red.white-text(type="submit") Salir del grupo
							-j=i+1;
							-if (j < aLength ) {
								.col.s6
									.card.ligth-green
										.card-content
											a.card-title.mini-header(href="/" ) #{arrayGrupos[j].nombre} 
											.row.km
												.col.s6
													br
													span.grey-text Profesor
													br
													span #{arrayGrupos[j].profesor.nombres} #{arrayGrupos[j].profesor.apellidos} 
												.col.s6
													br
													span.grey-text Estudiantes
													br
													span #{arrayGrupos[i].estudiantes.length}
										.card-action.center-align
											form(method="POST" action="/grupos/del/#{arrayGrupos[j].id}/#{user.id}?_method=DELETE")
											button.btn.red.white-text(type="submit") Salir del grupo
							-}
							-i=i+1
					- }
				div#Configuracion.col.s12

				//rowkiller
				.row

		
			
		
			
	include ../Ext/tarjetas-mensajes.jade
block epecialjs
	include ../Ext/front-scripts.jade