extends ../../layout
block contenido
	.div-escuelas
		include ../ext/nav-bar-home.jade
		.spacer
		.spacer
		.container
			.row.section
				h3.title-style.white-text.stroke Areas
				p.index-text.white-text.stroke 
	.spacer
	.divider
	.spacer
	.container
		.row.section
			if areas.length == 0 
				//include ../Ext/mensaje-no-hay-elementos.jade
					a.waves-effet.waves-light.btn.cyan.sbt(href="/admin/areas/nuevo") Nuevo
			else
				include ../ext/paginate.jade
				- var count = 0;
				- var n = 0;
				- var j = 0;
				- var t = 0;
				- var arrayAreas = new Array();
				each area in areas
					- arrayAreas[n]= area;
					- n++;
				- for (var i = 0; i < arrayAreas.length; i++) {
					.row 
						.col.l4.m6.s12
							.card.small
								.card-image
									img(
									src="#{arrayAreas[i].background}")
									span.card-title.stroke #{arrayAreas[i].nombre} - #{arrayAreas[i].escuela.nombre} 
								//.card-content
									//p.descripcion #{arrayAreas[i].descripcion} 
								.card-action
									a.waves-effect.waves-light.btn.sbt.cyan(
									href="/grupos/a/#{arrayAreas[i].id}") ver grupos
										i.material-icons.right forward
						-j=i+1;
						-if (j < arrayAreas.length) {
							.col.l4.m6.s12
								.card.small
									.card-image
										img(
										src="#{arrayAreas[j].background}")
										span.card-title.stroke #{arrayAreas[j].nombre} - #{arrayAreas[j].escuela.nombre} 
									//.card-content
										//p.descripcion #{arrayAreas[j].descripcion}
									.card-action
										a.waves-effect.waves-light.btn.sbt.cyan(
										href="/grupos/a/#{arrayAreas[j].id}") ver grupos
											i.material-icons.right forward	
						- }
						-t=j+1;
						-if (t < arrayAreas.length) {
							.col.l4.m6.s12
								.card.small
									.card-image
										img(
										src="#{arrayAreas[t].background}")
										span.card-title.stroke #{arrayAreas[t].nombre} - #{arrayAreas[t].escuela.nombre} 
									//.card-content
										//p.descripcion #{arrayAreas[t].descripcion}
									.card-action
										a.waves-effect.waves-light.btn.sbt.cyan(
										href="/grupos/a/#{arrayAreas[t].id}") ver grupos
											i.material-icons.right forward		
						- }
						-i=i+2;						
				-}
				include ../ext/paginate.jade
				include ../ext/tarjetas-mensajes.jade
	
