extends ../../layout
block contenido
	header
		include ../ext/menu-lateral-admin.jade
		include ../ext/tarjetas-mensajes.jade	
	main
		include ../ext/page-title.jade
		.container
			p.descripcion Aquí puedes agregar un nuevo Area
			//formulario
			.row
				.card-panel.km
					form#nueva-area.col.s12(
						method="POST"
						action="/admin/areas/nuevo"
						enctype="multipart/form-data")
						.row
							.input-field.col.s6
								i.material-icons.prefix.grey-icons class
								input#nombre(
									required
									name="nombre"
									type="text"
									data-error=".errorTxt1")
								label(for="nombre") Nombre de la area
								.errorTxt1
							.input-field.col.s6
								i.material-icons.prefix.grey-icons library_books
								label.active(for="escuela") Escuela 
								select#escuela(
									name="escuela" required)
									if escuelas.length == 0
										option.left.circle(
											disabled selected) Aun no hay Escuelas
									else
										each escuela in escuelas
											option.left.circle(
												value="#{escuela.id}") #{escuela.nombre}
						.row
							.input-field.col.s12
								i.material-icons.prefix.grey-icons reorder
								textarea#descripcion.materialize-textarea(
									name="descripcion"
									data-error=".errorTxt2")
								label(for="descripcion") Descripción
								.errorTxt2 							 
						.row
							label(for="background") Selecciona una imagen 
							.file-field.input-field
								.btn.waves-effect-waves-light.cyan
										span Agregar imagen
										input#background(
										type="file"
										name="background"
										data-error=".errorTxt3")
								.file-path-wrapper
									input.file-path(type="text")
								.errorTxt3
						.divider
						.row
							.col.s12.center-align
								a.waves-effect.waves-light.btn.sbt.white.grey-icons(
									href="/admin/areas") regresar
									i.material-icons.left close
								button.waves-effect.waves-light.btn.sbt.cyan.creando(
								type="submit"
								name="estado"
								value="NUEVO") Guardar
									i.material-icons.right save

					//row killer card panel 
					.row.km
block footer
	include ../ext/admin-footer.jade
