extends ../layout
block contenido
	header
		include ./Ext/menu-lateral-admin.jade
	main
		include ./Ext/page-title.jade
		.container
			p.descripcion
				| Opten desde esta interfaz información rápida y acceso a la gestión de la información y creación de usuarios y contenido.
		//estadisticas de usuarios
		.row
			.col.s3
				.card-panel
					.row.km
						.col.s10
							h5.km Administradores
						.col.s2
							i.material-icons.grey-icons.right more_vert
					.row.km
						.col.s6
							canvas#AdminsChrt(
							width="400" 
							height="400" 
							numOldAdmins="#{numOldAdmins}" 
							numNewAdmins="#{numNewAdmins}"
							noAdmins="#{noAdmins}")
						.col.s6
							.row.right-align
								h2 #{numAdmins}
			.col.s3
				.card-panel
					.row.km
						.col.s10
							h5.km Profesores
						.col.s2
							i.material-icons.grey-icons.right more_vert
					.row.km
						.col.s6
							canvas#ProfesChrt(
							width="400" 
							height="400" 
							numOldProfes="#{numOldProfes}" 
							numNewProfes="#{numNewProfes}"
							noProfes="#{noProfes}")
						.col.s6
							.row.right-align
								h2 #{numProfes}
			.col.s3
			.col.s3
		//estadisticas escuelas de formacion
		.row
			.col.s6
				.card-panel
					.row.km
						.col.s10
							h5.km Escuelas de Formacion 
						.col.s2
							i.material-icons.grey-icons.right more_vert
					.row.km 
						.col.s9
							.center-align
								canvas#EscuelaChrt(
								numOldEscuelas="#{numOldEscuelas}" 
								numNewEscuelas="#{numNewEscuelas}")
						.col.s3
							.row.center-align
								h2(style="padding-top: 3rem; font-size:7rem;") #{numEscuelas}
			.col.s6
				.card-panel
					.row.km
						.col.s10
							h5.km Areas
						.col.s2
							i.material-icons.grey-icons.right more_vert
					.row.km 
						.col.s9
							.center-align
								canvas#AreasChrt(
								labels="#{numAreas.labels}"
								areasPerLabel="#{numAreas.areasPerLabel}")
						.col.s3
							.row.center-align
								h2(style="padding-top: 3rem; font-size:7rem;") #{numAreas.num}
		// estadisticas de grupos
		.row
			.col.s3
				.card-panel
					.row.km
						.col.s10
							h5.km Grupos
						.col.s2
							i.material-icons.grey-icons.right more_vert
					.row.km
						.col.s6
							canvas#GruposChrt(
							width="400" 
							height="400" 
							numOldGrupos="#{numOldGrupos}" 
							numNewGrupos="#{numNewGrupos}")
						.col.s6
							.row.right-align
								h2 #{numGrupos}

							