extends ../layout
block contenido
	header
		include ./Ext/menu-lateral-admin.jade
	main
		include ./Ext/page-title.jade
		include ./Ext/donuts-menus.jade
		.container
			p.descripcion
				| Opten desde esta interfaz información rápida y acceso a la gestión de la información y creación de usuarios y contenido.
		//estadisticas de usuarios
		.row
			.col.l4.m12.s12
				.card-panel.km
					.row.km
						.col.s10
							h5.km Coordinadores
						.col.s2
							a.dropdown-button(data-activates='menu_admins')
								i.material-icons.grey-icons.right more_vert
					.row.km
						.col.s6
							canvas#AdminsChrt.sbt(
							width="400" 
							height="400" 
							numOldAdmins="#{numOldAdmins}" 
							numNewAdmins="#{numNewAdmins}"
							noAdmins="#{noAdmins}")
						.col.s6
							.row.km.right-align
								h2 #{numAdmins}
			.col.l4.m12.s12
				.card-panel.km
					.row.km
						.col.s10
							h5.km Profesores
						.col.s2
							a.dropdown-button(data-activates='menu_profes')
								i.material-icons.grey-icons.right more_vert
					.row.km
						.col.s6
							canvas#ProfesChrt.sbt(
							width="400" 
							height="400" 
							numOldProfes="#{numOldProfes}" 
							numNewProfes="#{numNewProfes}"
							noProfes="#{noProfes}")
						.col.s6
							.row.right-align.km
								h2 #{numProfes}
			.col.l4.m12.s12
				.card-panel.km
					.row.km
						.col.s10
							h5.km Estudiantes
						.col.s2
							a.dropdown-button(data-activates='menu_estus')
								i.material-icons.grey-icons.right more_vert
					.row.km
						.col.s6
							canvas#EstudiantesChrt.sbt(
							width="400" 
							height="400" 
							numOldEstudiantes="#{numOldEstudiantes}" 
							numNewEstudiantes="#{numNewEstudiantes}"
							noEstudiantes="#{noEstudiantes}")
						.col.s6
							.row.right-align.km
								h2 #{numEstudiantes}
		//estadisticas escuelas de formacion
		.row
			.col.l4.m12.s12
				.card-panel.km
					.row.km
						.col.s10
							h5.km Escuelas  
						.col.s2
							a.dropdown-button(data-activates='menu_escuelas')
								i.material-icons.grey-icons.right more_vert
					.row.km 
						.col.s6
							canvas#EscuelaChrt.sbt(
							width="400" 
							height="400" 
							numOldEscuelas="#{numOldEscuelas}" 
							numNewEscuelas="#{numNewEscuelas}")
						.col.s6
							.row.right-align.km
								h2 #{numEscuelas}
			.col.l4.m12.s12
				.card-panel.km
					.row.km
						.col.s10
							h5.km Areas
						.col.s2
							a.dropdown-button(data-activates='menu_areas')
								i.material-icons.grey-icons.right more_vert
					.row.km 
						.col.s6
							canvas#AreasChrt.sbt(
							width="400" 
							height="400" 
							labels="#{numAreas.labels}"
							areasPerLabel="#{numAreas.areasPerLabel}")
						.col.s6
							.row.right-align.km
								h2 #{numAreas.num}
			.col.l4.m12.s12
				.card-panel.km
					.row.km
						.col.s10
							h5.km Grupos
						.col.s2
							a.dropdown-button(data-activates='menu_grupos')
								i.material-icons.grey-icons.right more_vert
					.row.km 
						.col.s6
							canvas#GruposChrt.sbt(
							width="400" 
							height="400" 
							numOldGrupos="#{numOldGrupos}" 
							numNewGrupos="#{numNewGrupos}")
						.col.s6
							.row.right-align.km
								h2 #{numGrupos}
block footer
	include ./Ext/admin-footer.jade