extends ../../layout
block contenido
	header
		include ../Ext/menu-lateral-admin.jade
	main
		include ../Ext/page-title.jade
		.container
			include ../Ext/tarjetas-mensajes.jade
			a.waves-effet.waves-light.btn.cyan.sbt(
				href="/admin/Escuelas/nuevo") Nuevo
			if escuelas.length == 0 
				include ../Ext/mensaje-no-hay-elementos.jade
					a.waves-effet.waves-light.btn.cyan.sbt(
				href="/admin/Escuelas/nuevo") Nuevo
			else
				include ../Ext/paginate.jade
				- var count = 0;
				- var n = 0;
				-var j = 0;
				- var arrayEscuelas = new Array();
				each escuela in escuelas
					- arrayEscuelas[n]= escuela;
					- n++;
				- for (var i = 0; i < arrayEscuelas.length; i++) {
					.row 
						.col.s6
							.card.large
								.card-image
									img(
									src="#{arrayEscuelas[i].background}")
									span.card-title.stroke #{arrayEscuelas[i].nombre}
								.card-content
									p.descripcion #{arrayEscuelas[i].descripcion}
								.card-action
									a.btn.sbt.cyan(
									href="/admin/#{paginate}/editar/#{arrayEscuelas[i].id}") modificar
										i.material-icons.right edit
									form.btn-borrar(
										style="display: inline-block;"
										action="/admin/#{paginate}/editar/#{arrayEscuelas[i].id}?_method=DELETE"
										method="POST")
										button.btn.sbt.red.borrarEscuela(type="submit") borrar
											i.material-icons.right delete
						-j=i+1;
						-if (j < arrayEscuelas.length) {
							.col.s6
								.card.large
									.card-image
										img(
										src="#{arrayEscuelas[j].background}")
										span.card-title.stroke #{arrayEscuelas[j].nombre}
									.card-content
										p.descripcion #{arrayEscuelas[j].descripcion} texto
									.card-action
										a.btn.sbt.cyan(
										href="/admin/#{paginate}/editar/#{arrayEscuelas[j].id}") modificar
											i.material-icons.right edit
										form.btn-borrar(
										style="display: inline-block;"
										action="/admin/#{paginate}/editar/#{arrayEscuelas[j].id}?_method=DELETE"
										method="POST")
										button.btn.sbt.red.borrarEscuela(type="submit") borrar
											i.material-icons.right delete			
						- }
						-i=i+1;						
				-}
				include ../Ext/paginate.jade			

block footer