extends ../../layout
block contenido
	header
		include ../Ext/menu-lateral-admin.jade
	main
		include ../Ext/page-title.jade
		.container
			include ../Ext/tarjetas-mensajes.jade
			a.waves-effet.waves-light.btn.cyan.sbt(
				href="/admin/Escuelas/nuevo") Nuevo
			if escuelas.length == 0 
				include ../Ext/mensaje-no-hay-elementos.jade
					a.waves-effet.waves-light.btn.cyan.sbt(
				href="/admin/Escuelas/nuevo") Nuevo
			else
				include ../Ext/paginate.jade
				//codigo que esta dentro de tarjeta elemento
				h3 card de prueba
				.row
					.col.s6
						.card.medium
							.card-image
								img(
								src="http://goo.gl/mnPn0S")
								span.card-title titulo de la escuela
							.card-content
								p 
								|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								|tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
							.card-action
								a(href="#!") enlace
				- var count = 0;
				- var n = 0;
				-var j = 0;
				- var arrayEscuelas = new Array();
				each escuela in escuelas
					- arrayEscuelas[n]= escuela;
					- n++;
				- for (var i = 0; i < arrayEscuelas.length; i++) {
					.row 
						.col.s6
							.card.medium
								.card-image
									img(
									src="#{arrayEscuelas[i].background}")
									span.card-title #{arrayEscuelas[i].nombre}
								.card-content
									p #{arrayEscuelas[i].descripcion}
								.card-action
									a(href="#!") #{i}
						-j=i+1;
						-if (j < arrayEscuelas.length) {
							.col.s6
								.card.medium
									.card-image
										img(
										src="#{arrayEscuelas[j].background}")
										span.card-title #{arrayEscuelas[j].nombre}
									.card-content
										p #{arrayEscuelas[j].descripcion}
									.card-action
										a(href="#!") #{j}			
						- }
						-i=i+1;						
				-}	

					
				
				include ../Ext/paginate.jade			

block footer