extends ../../layout
block contenido
	header
		include ../ext/menu-lateral-admin.jade
	main
		include ../ext/page-title.jade
		.container
			include ../ext/tarjetas-mensajes.jade
			a.waves-effet.waves-light.btn.cyan.sbt(
				href="/admin/profesores/nuevo") Nuevo
			if profes.length == 0 
				include ../ext/mensaje-no-hay-elementos.jade
					a.waves-effet.waves-light.btn.cyan.sbt(
				href="/admin/profesores/nuevo") Nuevo
			else
				include ../ext/paginate.jade	
				ul.collection.hoverable
					each profe in profes
						.elemento
							.info
								li.collection-item.avatar
									if profe.estado == "NUEVO"
										span.new.badge.cyan(
										data-badge-caption="Nuevo")
									img.circle(src="#{profe.avatar}")
									span.title #{profe.nombres} #{profe.apellidos}
									p.grey-icons #{profe.nombreUsuario}
										br
										|  #{profe.email}
							.mas-info.grey.lighten-4
								.divider
								table.responsive-table.centered
									thead
										tr
											th(data-field="numeroDocumento") Documento
											th(data-field="genero") Género
											th(data-field="fechaPretty") Fecha de Nacimiento
											th(data-field="edad") Edad
									tbody
										tr
											td #{profe.tipoDocumento}: #{profe.numeroDocumento}
											if profe.genero == "H"
												td Hombre
											else
												td Mujer
											td #{profe.fechaPretty}
											td #{profe.edad}		
								table.responsive-table.centered
									thead
										tr
											th(data-field="creacion") Fecha de registro
											th(data-field="fechaModificado") Ultima modificación

									tbody
										tr
											td #{profe.creacionPretty}
											td #{profe.ultimaModi}
								.divider
								.center-align.white
									a.btn.sbt.cyan(href="/usuario/#{profe.nombreUsuario}") ver perfil
										i.material-icons.right account_box
									a.btn.sbt.cyan(
										href="/admin/profesores/editar/#{profe.id}") modificar
										i.material-icons.right edit
									form.btn-borrar(
										style="display: inline-block;"
										action="/admin/profesores/editar/#{profe.id}?_method=DELETE"
										method="POST")
										button.btn.sbt.red.prevenirBorarr(type="submit") borrar
											i.material-icons.right delete
				include ../ext/paginate.jade				
block footer
	include ../ext/admin-footer.jade