.container
	.row.section#contacto
		.col.l7.s12
			h3.title-style contactanos
			p.descripcion si tienes alguna duda, queja o solicitud puedes escribirla aqui
			form#contacto(
				method="POST"
				action="/admin/mensajes/nuevo")
				.row.km
					.input-field.col.s11
						i.material-icons.prefix.grey-icons account_box
						input#nombre(
						name="nombre"
						type="text"
						required="true")
						label(for="nombre" required="usa tu nombre") Nombre completo
				.row.km
					.input-field.col.s11
						i.material-icons.prefix.grey-icons mail
						input#email(
						name="email"
						type="text"
						required)
						label(for="email") Correo electrónico/Teléfono
				.row.km
					.input-field.col.s11
						i.material-icons.prefix.grey-icons mail
						textarea.materialize-textarea(name="mensaje" length="250" required)
						label(for="email") Mensaje
				.row.km
					.center
						button.waves-effect.waves-light.btn.cyan(name="estado" type="submit" value="NUEVO") enviar 

		//		
		.col.l5.hide-on-med-and-down
			.spacer
			.spacer
			.spacer
			iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3971.695617740343!2d-74.65850858264764!3d5.46307393476579!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e40de93985564bb%3A0xe7acff1491e2c955!2sOficina+de+Cultura+y+Turismo%2C+Cl.+11+%2310-5%2C+Puerto+Salgar%2C+Cundinamarca!5e0!3m2!1ses-419!2sco!4v1478237969536" width="400" height="300" frameborder="0" style="border:0" allowfullscreen)