//jquery
script(
	src="https://code.jquery.com/jquery-3.1.0.slim.min.js"
	integrity="sha256-cRpWjoSOw5KcyIOaZNo4i6fZ9tKPhYYb6i5T9RSVJG8="
	crossorigin="anonymous"
	type="text/javascript")
//Materialize js
script(
	src="/Materialize/Js/materialize.min.js"
	type="text/javascript")