//jquery
script(
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"
	)
//Materialize js
script(
	src="/Materialize/Js/materialize.js"
	type="text/javascript")
//configuracion manual de pickdatejs en español
script(
	src="/Js/pickdate-configuracion.js"
	type="text/javascript")
//init de componentes materialize
script(
	src="/Js/init-materialize.js"
	type="text/javascript")
//jquery validator
script(
	src="https://goo.gl/o1o02Q"
	type="text/javascript")
//numeric
script(
	src="/Js/jquery.numeric.min.js"
	type="text/javascript")
//sweetalert
script(
	src="/Js/sweetalert.min.js"
	type="text/javascript")



//*******************************//
//mis scripts
script(
	src="/Js/general-script.js"
	type="text/javascript")
//admins y profes script
//script(
	src="/Js/admins-y-profes-script.js"
	type="text/javascript")

//escuela script
//script(
	src="/Js/escuelas-script.js"
	type="text/javascript")


