extends ../layout.jade

block contenido
	include ./componentes/nav-bar.jade
	main.contenido
		.container
			.row
				.col.s6
					.card
						.card-content
							.card-title Modificar informacion de perfil
							span.red-text #{message}
							form.col.s12(method="POST")
								.row
									.input-field.col.s12
										if user.userName != undefined
											input.validate(type="text" name="n" value="#{user.userName}")
											label Nombre de usuario
										else
											input.validate(type="text" name="n")
											label Nombre de usuario
								.row 
									.input-field.col.s6
										if user.firstName != undefined
											input.validate(type="text" name="fn"  value="#{user.firstName}")
											label Primer Nombre
										else
											input.validate(type="text" name="fn")
											label Primer Nombre
											
									.input-field.col.s6
										if user.secondName != undefined
											input.validate(type="text" name="sn" value="#{user.secondName}")
											label Segundo Nombre
										else 
											input.validate(type="text" name="sn")
											label Segundo Nombre
								.row
									.input-field.col.s12
										if user.lastName != undefined
											input.validate(type="text" name="ln" value="#{user.lastName}")
											label Apellido
										else
											input.validate(type="text" name="ln")
											label Apellido
								.row
									.input-field.col.s12
										if user.mail != undefined
											input.validate(type="email" name="mail" value="#{user.mail}")
											label Correo Electronico
										else
											input.validate(type="email" name="mail")
											label Correo Electronico
								.row
									.input-field.col.s6
										if user.gender != undefined
											select(name="g")
												option(value="#{user.gender}" selected) #{gender}
													if user.gender = "M"
														| Masculino
														option(value="F") Femenino
													else
														| Femenino
														option(value="M") Masculino
												
											label Genero
										else
											select(name="g")
												option(value="" disabled selected) Seleciona tu genero
												option(value="M") Masculino
												option(value="F") Femenino
											label Genero
									.input-field.col.s6
										if user.born != undefined
											input.datepicker(type="date" id="bd" placeholder="Fecha de nacimiento" name="bd" value="#{user.my_born}")
										else
											input.datepicker(type="date" id="bd" placeholder="Fecha de nacimiento" name="bd")
								.row.right-align
									button.btn.waves-effect.waves-light.blue.accent-2(type="submit") Actualizar
										i.material-icons.right check

						//mistery row
						.row
				//col para borrar la cuenta
			.row
				.col.s12.l6
					.card
						.card-content
							.card-title Borrar mi cuenta
							p.red-text Una vez que borres esta cuenta perdera el acceso a ella y no habra registro de ti en ninguno de los cursos a los que perteneces
							.row.right-align
								a.waves-effect.waves-light.btn.modal-trigger.red.darken-1(href="#modal-destroy1") Borrar esta cuenta

							//modal-destroy1
							#modal-destroy1.modal
								.modal-content
									H4.red-text Borrar esta cuenta 
									p Si estas seguro de que ya no quieres tener una cuenta en este sitio, pon tu contraseña en el campo y pulsa NO QUIERO TENER MAS ESTA CUENTA
									p Si quieres concervar tu cuenta solo da clic fuera de esta ventana o clic en CONCERVAR
									.modal-footer
										.row.no-margin-bot
											form(method="POST" action="/me/delete")
												.row.no-margin-bot
													.input-field.col.s3
														input.validate(type="password" name="pov")
														label Tu contraseña
													.input-field.col.s6
														button(type="submit").modal-action.modal-close.waves-effect.waves-red.btn-flat.red-text No quiero tener mas esta cuenta
													.input-field.col.s3
														a(href="/me").modal-action.modal-close.waves-effect.waves-green.btn-flat Concervar
						// si no pongo este row el codigo que contiene desaparece, es un misterio :C 
						.row 



