extends ../layout.jade

block contenido
	include ./componentes/nav-bar.jade
	main.contenido
		.banner
		.info-user
			.row.no-margin-bot
				.section.no-pading-bot
					.card.semi-trasparent.no-margin-bot
						.card-content
							.row.no-margin-bot
								.col.s12
									.avatar-profile.center-align
										img.circle.responsive-img(src="#{user.imageAvatar}")
										if !user.userName
											h4  #{user.idDocument}
										else 
											h4 #{user.userName}
										div.center-align
											.row.no-margin-bot
												.col.s2.offset-s5
													.col.s4
														i.small.material-icons perm_identity
													.col.s4
														h6 #{user.typeUser} 
								
			// tarjetas con l informacion de usuario	
			.row
				if user.isUpdate
					.col.s6.no-pading-left
						.card.white
							.card-content
								span.card-title Informacion
								//nombre 
								.row.no-margin-bot
									.col.s1
										i.small.material-icons account_circle
									.col.s11(style="padding-top: 0.2rem;") 
										p #{user.full_name}
								// edad
								.row.no-margin-bot
									.col.s1
										i.small.material-icons cake
									.col.s11(style="padding-top: 0.3rem;") 
										p #{user.edad}

								
					.col.s6.no-pading-right
						.card.white
							.card-content
								span.card-title Contacto
								//Correo Electronico
								.row.no-margin-bot
									.col.s1
										i.small.material-icons email
									.col.s11(style="padding-top: 0.2rem;") 
										p  
											a(href="mailto:#{user.mail}") #{user.mail}
				else
					.row
						.card-panel
							h3 Bienvenido a tu perfil 
							p aqui podras administrar tus cursos y la informacion personal que quieres compartir con tus compañeros
							a.waves-effect.waves-light.btn.blue.accent-2(href="/me/edit") Agregar informacion a mi perfil
			h3 Cursos

					
										